<mat-card *ngIf="coin | async as coin" class="card">
  <mat-card-title class="card-title">{{ coin.exchange_id }}</mat-card-title>
  <mat-card-subtitle class="card-subtitle">{{ coin.name }}</mat-card-subtitle>
  <mat-card-content>
    <a [href]="coin.website" target="_blank" class="card-website"
      >Website: {{ coin.website }}</a
    >
    <p class="card-content">Trade start: {{ coin.data_trade_start | date }}</p>
    <p class="card-content">Trade end: {{ coin.data_trade_end | date }}</p>
    <p class="card-content">
      Orderbook start: {{ coin.data_orderbook_start | date }}
    </p>
    <p class="card-content">
      Orderbook end: {{ coin.data_orderbook_end | date }}
    </p>
    <p class="card-content">Quote start: {{ coin.data_quote_start | date }}</p>
    <p class="card-content">Quote end: {{ coin.data_quote_end | date }}</p>
    <p class="card-content">Start: {{ coin.data_start | date }}</p>
    <p class="card-content">End: {{ coin.data_end | date }}</p>
    <p class="card-content">
      Volume 1 month in usd: {{ coin.volume_1mth_usd | currency }}
    </p>
    <p class="card-content">
      Volume 1 day in usd: {{ coin.volume_1day_usd | currency }}
    </p>
    <p class="card-content">
      Volume 1 hour in usd: {{ coin.volume_1hrs_usd | currency }}
    </p>
    <p class="card-content">Symbots count: {{ coin.data_symbols_count }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
