.filter {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;

  mat-form-field {
    width: 50%;
  }
}

.mat-header-cell {
  text-align: center;
  text-transform: capitalize;
}

.mat-cell {
  text-align: center;
  word-break: break-all;
}

.row {
  cursor: pointer;
}
